<footer class="bg-black text-white">
	<div class="flex flex-col sm:flex-row sm:justify-center sm:pt-20 gap-10 p-6">
		<div class="flex flex-col gap-3">
			<h1 class="font-bold text-xl mb-2">SUPORT</h1>
			<a class="text-neutral-300" href="#">Help Center</a>
			<a class="text-neutral-300" href="#">Privacy Policy</a>
			<a class="text-neutral-300" href="#">FAQ</a>
			<a class="text-neutral-300" href="#">Terms & Condition</a>
			<a class="text-neutral-300" href="#">Community</a>
		</div>

		<div class="flex flex-col gap-3">
			<h1 class="font-bold text-xl mb-2">SUPORT</h1>
			<p class="text-neutral-300">JL Surga Menuju Indonesia Maju</p>
			<p class="text-neutral-300">+62 (522) 999999999</p>
			<p class="text-neutral-300">stuco@gmail.com</p>
		</div>

		<div class="flex flex-col gap-3">
			<h1 class="font-bold text-xl mb-2">
				Join Our Newsletter Community for Regular Inspiration
			</h1>
			<form class="flex text-sm w-full">
				<input
					class="rounded-l-lg p-4 w-full text-neutral-700"
					type="email"
					placeholder="Your Email Address" />
				<button class="px-3 rounded-r-lg bg-orange-500">Subscribe</button>
			</form>
		</div>
	</div>

	<hr class="border-neutral-700" />

	<div class="p-5 sm:px-20 sm:py-5 text-neutral-500">
		<h1>©2024 STUCO COPYRIGHT - All Rights Reserved</h1>
	</div>
</footer>