
<!DOCTYPE html>
{% load static %}
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- Font -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
			rel="stylesheet" />
		<!-- Akhir Font -->

		<!-- Tailwind CSS -->
		<script src="https://cdn.tailwindcss.com"></script>
		<!-- Akhir Tailwind CSS -->

		<!-- Icon -->
		<script
			src="https://kit.fontawesome.com/d7f673dfd5.js"
			crossorigin="anonymous"></script>
		<!-- Akhir Icon -->

		<!-- Custom CSS -->
		<link rel="stylesheet" href="{% static 'css/global.css' %}" />
		<!-- Akhir Custom CSS -->

		<!-- AOS -->
		<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
		<!-- AKHIR AOS -->

		<title>{% block title %} {% endblock %}</title>
	</head>
	<body>
		<!-- NAVBAR -->
		{% include 'components/navbar.html' %}
		<!-- AKHIR NAVBAR -->

		{% block konten %} {% endblock %}

		<!-- FOOTER -->
		{% include 'components/footer.html' %}
		<!-- AKHIR FOOTER -->

		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

		<script src="{% static 'js/navbar.js' %}"></script>
		<script src="{% static 'js/faq-beranda.js' %}"></script>
		<script src="{% static 'js/tab-roadmap.js' %}"></script>
		<script src="{% static 'js/pagination-kelas.js' %}"></script>
		<script src="{% static 'js/silabus-kelas-detail.js' %}"></script>
	</body>
</html>
